{{ attach_library('jimvomero/homepage-banner') }}

<div class="banner layout-banner">
  <div class="banner-background">
    <div class="banner-text">
      <div class="banner-text-headline">Hi. I'm Jim.</div>
      <div class="banner-text-tagline">I’m a web developer and Drupal evangelist.</div>
    </div>
  </div>
  <div id="particles-js"></div>
</div>
