{{ attach_library('jimvomero/homepage-banner') }}
{{ attach_library('jimvomero/headline-band') }}

<div class="banner layout-banner">
  <div class="banner-background">
    <div class="banner-text">
      <div class="banner-text-headline">Hi. I'm Jim.</div>
      <div class="banner-text-tagline">I’m a web developer and Drupal evangelist.</div>
    </div>
  </div>
  <div id="particles-js"></div>
</div>


<div class="headline-band">
  <div class="headline-band-text hide">
    I make locally-sourced, small-batch, hand made, artisanal Drupal web
    applications with only the finest naturally-foraged elements.
  </div>
  <div class="headline-band-icon">
    <div class="svg-wrapper" id="drop"></div>
  </div>
</div>

<div class="headline-band">
  <div class="headline-band-icon">
    <div class="svg-wrapper" id="map"></div>
  </div>
  <div class="headline-band-text hide">
    I work at Penn State in Web Strategy. I love the outdoors, classic
    arcades games, brewing beer, and other nerd stuff.
  </div>
</div>

<div class="headline-band">
  <div class="headline-band-text hide">
    Want to discuss your ideas for a project or just want to say hi?
    Awesome! Let's chat. jamesvomero@gmail.com
  </div>
  <div class="headline-band-icon">
    <div class="svg-wrapper" id="chat"></div>
  </div>
</div>
