* {
  box-sizing: border-box;
  vertical-align: middle;
  -webkit-font-smoothing: antialiased;
}
html, body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-size: 1.5rem;
  line-height: 1.15;
  text-align: center;
}
html, body {
  min-height: 100vh;
  font-family: 'Oswald', sans-serif;
}
@media (min-width: 600px) {
  body {
    font-size: 1.85rem;
  }
}

/*** Visibility rules for animated text ***/
.hide {
  opacity:0;
}
.hide.show {
  opacity:1;
}

/*** Text styles ***/
h2.small {
  color: #3E5136;
  font-size: 1.2rem;
  margin: 0.5rem 0;
}

/*** Footer ***/
footer {
  height: 100vh;
  position: relative;
}
.footer-background {
  background: transparent url('../images/footer.jpg') no-repeat top center;
  background-attachment: fixed;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background-size: cover;
  background-position: 75% center;
  min-height: 101vh;
}
@media (max-width: 600px) {
  .footer-background {
    background-attachment: scroll;
  }
}